main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sucess-screen main,
.fail-screen main{
    flex-direction: column;

    margin-top: 350px;
}
.flashcards-screen > img,
.sucess-screen > img,
.fail-screen > img{
    padding: 26px 0 0 32px;
}