.fail-screen h2,
.sucess-screen h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.fail-screen main img,
.sucess-screen main img{
    margin-left: 15px;
}
.fail-screen p,
.sucess-screen p{
    font-size: 22px;
    line-height: 26px;
    text-align: center;

    margin-top: 15px;
}
.sucess-screen button,
.fail-screen button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 345px;
    height: 72px;

    border: 3px solid #FFEF61;
    border-radius: 12px;
    background: 0;
    margin-top: 25px;

    font-weight: bold;
    font-size: 20px;
}